<section class="gallery-section">
    <div class="titles-container">
        <h1 class="title">Credits</h1>
        <h2 class="subtitle">The people behind the project</h2>
    </div>
    
    <div class="credits-container">
        <img class="image" src="josephhuamani.png" alt="Developer">
        <div class="credit">
            <h3 class="name">Joseph Huamani</h3>
            <p class="role">Software Engineer</p>
            <div class="social-media">
                <a class="link" target="_blank" href="www.linkedin.com/in/joseph-huamani-mandujano"><img src="linkedin.svg" alt=""></a>
                <a class="link" target="_blank" href="https://github.com/HelloNerk"><img src="github.svg" alt=""></a>
                <a class="link" target="_blank" href="mailto:josephhm335@gmail.com"><img src="email.svg" alt=""></a>
            </div>   
        </div>
    </div>
</section>